<div class="col-xs-12 col-sm-offset-4 col-sm-4 jumbotron"
   ng-controller="loginCtrl as lc">
    <form action="#" class="form-signin" name='login' novalidate>
        <div id="textintro">
            <h1 class="form-signin-heading">Login</h1>
            <p>Start Blogging Now!</p>
        </div>
        
        <!--Email-->
        <label for="email" class="sr-only">Email address</label>
        <input type="email" name="email" placeholder="Email" id="email" class="form-control" ng-required='true' ng-model='lc.data.email'>
         <!--Show error only if invalid and touched-->
        <p ng-show="login.email.$invalid && login.email.$touched" class='error_msg'>Please enter your email</p>
         <!--Password-->
        <label for="Password" class="sr-only">Password</label>
        <input type="password" name="password" id="Password" placeholder="Password" class="form-control" ng-required='true' ng-model='lc.data.password' ng-minlength='8'>
        <!--Show error only if invalid and touched-->
        <p ng-show="login.password.$invalid && login.password.$touched" class='error_msg'>Password is invalid</p>
        <!-- Submit Button-->
        <button class="btn btn-lg btn-success btn-block" ng-disabled='login.email.$invalid || login.password.$invalid'
        ng-click="submitLogin(lc.data)">Sign in</button>
        <p class='registerOption'>or</p>
        <p class='registerOption'><a href="#/register">Register</a></p>
    </form>
</div>