<div class="jumbotron">
    <form action="#" class="form-signin">
        <div id="textintro">
            <h1 class="form-signin-heading">Login</h1>
            <p>Start Blogging Now!</p>
        </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" placeholder="Email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control">

        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        <p class='registerOption'>or</p>
        <p class='registerOption'><a href="#/register">Register</a></p>
    </form>
</div>

