<div class="jumbotron">
    <form action="#" class="form-signin">
        <div id="textintro">
            <h1 class="form-signin-heading">Register</h1>
            <p>Please Enter Info Below</p>
        </div>
        <label for="fName" class="sr-only">First Name</label>
        <input type="text" name="fName" placeholder="First Name" id="fName" class="form-control" required autofocus>
        <label for="lName" class="sr-only">Last Name</label>
        <input type="text" name="lName" id="lName" placeholder="Last Name" class="form-control">
        <!-- Email and Password Below -->
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" placeholder="Email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control">

        <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
        <p class='registerOption'>or</p>
        <p class='registerOption'><a href="#/login">Login</a></p>
    </form>
</div>
