<head>
    <link rel="stylesheet" href="bootstrap/mainBlogStyle.css">
</head>
<body>
    <div class="col-sm-8 col-md-offset-1 col-md-6" id="articleContainer">
        <div class="article" ng-repeat="info in sc.returnSearchResponse()">
            <div class="articleTitle">
                <a href="#/full-article" ng-click="mc.readFullArticle(info.id)">
                    {{info.title}}
                </a>
            </div>
            <div class="articleText">
                {{info.summary}}
            </div>
            <div class="articleMeta">
                <div class="tags">
                    <span ng-repeat="tag in info.tags">
                        <a href="#/search" ng-click="mc.tagSearch(tag)">
                            {{tag}}
                        </a>
                    </span>
                </div>
                <div class="time">
                    {{info.edited}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- Add the side navigation template -->
        <side-nav></side-nav>
    </div>
</body>
