<div id="sideNav">
    <div class="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Articles...">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>
    </div>
    <!-- List the last 5 created articles -->
    <div class="shortList">
        <p class="sectionHead">
            Recent posts:
        </p>
        <ul>
            <li ng-repeat="title in snc.lastFiveArticles">
                <a ng-click="">{{title.title}}</a>
            </li>
        </ul>
    </div>
    <!-- list of tags used in user articles -->
    <div class="tagList">
        <p class="sectionHead">
            Tags:
        </p>
        <ul>
            <li ng-repeat="tag in snc.tagList()">
                <a ng-click="">{{tag}}</a>
            </li>
        </ul>
    </div>
</div>

