<div class="row" ng-controller='profileCtrl as pc'>
    <h1 class="text-center">Edit Your Profile</h1>
    <hr>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Current Information</h2>
        <label>First Name:
            <input type="text" class="form-control">
        </label>
        <label>Last Name:
            <input type="text" class="form-control">
        </label>
        <label>Email:
            <input type="email" class="form-control">
        </label>
        <label>UserName:
            <input type="text" class="form-control">
        </label>

    </div>
    <div class="col-md-4">
        <h2>New Information</h2>
        <label>First Name:
            <input type="text" class="form-control" ng-model='pc.fName'>
        </label>
        <label>Last Name:
            <input type="text" class="form-control" ng-model='pc.lName'>
        </label>
        <label>Email:
            <input type="email" class="form-control" ng-model='pc.email'>
        </label>
        <label>UserName:
            <input type="text" class="form-control" ng-model='pc.username'> 
        </label>
        <label>Password:
            <input type="password" class="form-control" ng-model='pc.password'>
        </label>
        <label>Verify Password:
            <input type='password' class="form-control" ng-model='pc.verify_pw'>
        </label>
        <br />
        <button class='btn btn-primary'>Save Changes</button>
        <button class="btn btn-default">Cancel</button>
    </div>
    <div class="col-md-2"></div>

</div>