<div class="row" ng-controller='userEditCtrl as uec'>
    <h1 class="text-center">Edit Your Profile</h1>
    <hr>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Current Information</h2>
        <label>First Name:
            <input type="text" class="form-control" >
        </label>
        <label>Last Name:
            <input type="text" class="form-control">
        </label>
        <label>Email:
            <input type="email" class="form-control">
        </label>
        <label>UserName:
            <input type="text" class="form-control">
        </label>

    </div>
    <div class="col-md-4">
        <h2>New Information</h2>
        <label>First Name:
            <input type="text" class="form-control" ng-model='uec.fName'>
        </label>
        <label>Last Name:
            <input type="text" class="form-control" ng-model='uec.lName'>
        </label>
        <label>Email:
            <input type="email" class="form-control" ng-model='uec.email'>
        </label>
        <label>UserName:
            <input type="text" class="form-control" ng-model='uec.username'> 
        </label>
        <label>Password:
            <input type="password" class="form-control" ng-model='uec.password'>
        </label>
        <label>Verify Password:
            <input type='password' class="form-control" ng-model='uec.verify_pw'>
        </label>
        <br />
        <a href="#"><button class='btn btn-primary' ng-click='uec.editProfile(uec.data)'>Save Changes</button></a>
        <button class="btn btn-default">Cancel</button>
    </div>
    <div class="col-md-2"></div>

</div>